{% block scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>


<script>

    function getPosts(){
        $.ajax({
            url: $(".post-content").data('url'),
            type: "GET",
            success: function(resp){
                $("#postDispForm").html(resp);
            },
            error: function(resp){
                console.log("getpost error");
            }
        });
    }


    function getCategoryBasedPosts(){
        $.ajax({
            url: "{% url 'posts:show_categorybased_post_api' 'sports' %}",
            type: "GET",
            success: function(resp){
                $("#postDispDiv").html(resp);
            },
            error: function(resp){
                console.log("getpost error");
            }
        });
    }



    function getCurrPost(){
        $.ajax({
            // url: $(".post-content").data('url'),
            url: "{% url 'posts:show_curr_post_api' %}",
            type: "GET",
            success: function(resp){
                // $("#postDispForm").html(resp);
                $("#postDispDiv").html(resp);
                // var url= $(".post-content").data('url');
                // console.log(url);
            },
            error: function(resp){
                console.log("getcurrpost error");
            }
        });
    }


    function getCurrPostInside(){
        $.ajax({
            // url: $(".post-content").data('url'),
            url: "{% url 'posts:show_curr_post_api' %}",
            type: "GET",
            success: function(resp){
                // $("#postDispForm").html(resp);
                $("#postDispDiv2").html(resp);
                // var url= $(".post-content").data('url');
                // console.log(url);
            },
            error: function(resp){
                console.log("getcurrpost error");
            }
        });
    }

    // getCurrPost();


    
    
    // $("#postDispForm").on("submit", function(e){
    //     e.preventDefault();
    //     e.stopPropagation();
    // ajax call from frontend on submission of postdisp form
    // $('#postDispForm').unbind('submit');
    $('#postDispForm').submit(function(){
        var $this = $(this);
        var valid = true;
    
        if(valid){
            //ajax
            $.ajax({
                url: $this.attr('action'),
                type: "POST",
                data: $(this).serialize(),
                // data: {
                //     "csrfmiddlewaretoken": "{{ csrf_token }}",
                //     "option": 1,
                // },
                dataType: 'json',
                success: function(resp){
                    $(self).unbind();
                    if(resp.voting === 'success'){
                        getCurrPostInside();
                        // $(self).unbind();
                        // getCommentsText();
                        // getComments();
                    }else{
                        alert(resp.voting);
                    }

                },
                error: function(resp){
                    console.log("post submission error");
                }
            });
        }
        return false;
    });


    // change this to call getCurrPost() to keep it linear, return json in views.py
    function getNextPost(){
        $.ajax({
            url:"{% url 'posts:show_next_post_api' %}",
            type:"GET",
            success: function(resp){
                $("#postDispDiv").html(resp);
                changeurl();
                $(self).unbind();
                // changeurl("res");
                // console.log("meow:{{ post_.id }}")
                // getCommentsText();
                // getComments();
            },
            error: function(resp){
              console.log("getnextpost error")
            }
        });
    }



  // eg: changeurl("res");
  function changeurl()
  {
    $.ajax({
            url:"{% url 'posts:get_current_post_url_api' %}",
            type:"GET",
            success: function(resp){
                var new_url=resp.current_url;
                window.history.pushState("data","Title",new_url);
                // console.log(new_url)
            },
            error: function(resp){
              console.log("changeurl error")
            }
        });
  }


  function getCommentsText()
  {
    $.ajax({
      url: "{% url 'posts:show_comments_text_api' %}",
      type: "GET",
      success: function(resp){
        $("#commentTextDisp").html(resp);
      },
      error: function(resp){
        console.log("comment error");
      }
    })
  }



  function getComments()
  {
    $.ajax({
      url: "{% url 'posts:show_comments_api' %}",
      type: "GET",
      success: function(resp){
        $("#commentDisp").html(resp);
      },
      error: function(resp){
        console.log("comment error");
      }
    })
  }

//   getCommentsText();
//   getComments();



  // ajax call from frontend on submission of commentTextDisp form
  $('#commentTextDisp2').submit(function(){
        var $this = $(this);
        var valid = true;
    
        if(valid){
            //ajax
            $.ajax({
                // url: $this.attr('action'),
                url: "{% url 'posts:show_comments_api' %}",
                type: "POST",
                data: $(this).serialize(),
                // data: {
                //     "csrfmiddlewaretoken": "{{ csrf_token }}",
                //     "option": 1,
                // },
                dataType: 'json',
                success: function(resp){
                    if(resp.commment === 'success'){
                        // getCurrPost();
                        // getCommentsText();
                        getComments();
                        document.getElementById("commentTextDisp2").reset();
                    }else{
                        alert(resp.voting);
                    }

                },
                error: function(resp){
                    console.log("comment submission error");
                }
            });
        }
        return false;
    });



</script>
{% endblock scripts %}