{% include 'includes/messages.html' %}
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/style.css' %}" />
</head>

<div class="container" id="container">
		<form action="." method = "POST">
			{% csrf_token %}
			<h1>Username or Email to Generate Password Link</h1>
			<br></br>

			<input type="text" placeholder="Username or Email" name ="username_or_email" value="{% if form.username.value %}{{ form.username.value }}{% endif %}" required/>

            
			<button type = "submit">Submit</button>
		</form>
</div>