{% include 'includes/messages.html' %}
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/style.css' %}" />
</head>

<div class="container" id="container">
		<form action="." method = "POST">
			{% csrf_token %}
			<h1>Reset Password</h1>
			<br></br>

			<input type="password" placeholder="Password" name ="password1" required/>
            <input type="password" placeholder="Confirm Password" name ="password2" required/>

            
			<button type = "submit">Submit</button>
		</form>
</div>