.wrapper {
    width:100%;
    overflow: auto;
}

.bars {
    position: relative; /* add this to allow positioning of the line */
    border: 2px solid black;
    background-color: snow;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 15%;
    margin-right: 15%;
}

.bars div {
    position: relative; /* add this to allow positioning of the line */
    width: 100%;
    height: 50px; /* add a height for demonstration purposes */
    margin-bottom: 10px; /* add some margin between the bars */
}

.percentage-value {
    display: flex;
    align-items: center;
    height: 100%;
}

.entry-value {
    display: flex;
    align-items: center;
    justify-content: center;
}

.x-axis-label {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.y-axis-label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(-90deg);
}