/* comment section and box style here */

.comment-section {
    position: relative;
    overflow: auto;
    border-radius: 10px;
    padding-right: 5px;
    width: 100%;
    max-height: 450px;
}

.comment-section::-webkit-scrollbar {
    width: 10px;
}

.comment-section::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.comment-section::-webkit-scrollbar-thumb {
    background-color: #a1a1a1;
    border-radius: 10px;
}

.comment-section::-webkit-scrollbar-thumb:hover {
    background-color: #7c7c7c;
}

.comment-box {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    word-wrap: break-word;
    word-break: break-word;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    min-width: 350px;
}

.comment {
    display: flex;
    align-items: flex-start;
}

.profile-picture-container {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    border: 4px solid transparent;
    overflow: hidden;
    width: 50px;
    height: 50px;
    min-height: 50px;
    min-width: 50px;
    margin-right: 10px;
    align-self: center;
}

.avatar {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.comment-info {
    flex-grow: 1;
    font-family: Arial, Helvetica;
}

.comment-interact {
    flex-grow: 1;
    font-family: Arial, Helvetica;
}

.username {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.comment-text {
    font-size: 15px;
    font-family: Arial, Helvetica;
}

.comment-action {
    text-align: right;
    margin-right: 2%;
}


/* the interactive section of comment box is here*/

.comment-action .timestamp {
    font-size: 10px;
    color: #5a5a5a;
    margin-right: 1%;
}

.comment-action .upvote {
    font-size: 15px;
    color: #5a5a5a;
    margin-right: 1%;
}

.comment-action .upvote:hover {
    font-size: 15px;
    color: green;
    text-align: left;
    cursor: pointer;
}

.comment-action .react {
    font-size: 14px;
    font-weight: bold;
    color: #5a5a5a;
    text-align: left;
}

.comment-action .downvote {
    font-size: 15px;
    color: #5a5a5a;
    text-align: left;
}

.comment-action .downvote:hover {
    font-size: 15px;
    color: red;
    text-align: left;
    cursor: pointer;
}

.comment-action .delete {
    font-size: 15px;
    color: #5a5a5a;
    text-align: left;
}

.comment-action .delete:hover {
    font-size: 15px;
    color: black;
    text-align: left;
    cursor: pointer;
}

.comment-action .reply {
    font-size: 15px;
    color: #5a5a5a;
    text-align: left;
}

.comment-action .reply:hover {
    font-size: 15px;
    color: lightskyblue;
    text-align: left;
    cursor: pointer;
}

.comment-action .report {
    font-size: 15px;
    color: #5a5a5a;
    text-align: left;
}

.comment-action .report:hover {
    font-size: 15px;
    color: red;
    text-align: left;
    cursor: pointer;
}

p {
    color: #5a5a5a;
    text-align: left;
    font-size: 13px;
}


/* comment input box style here */

.comment-take {
    position: relative;
    background-color: transparent;
    width: 100%;
    height: auto;
}

.comment-input {
    overflow: hidden;
    background-color: #f1f1f1;
    border: 1px solid #000000;
    /* Change the border color to black */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    /* Add a black shadow */
    border-radius: 10px;
    height: 30%;
    width: 100%;
    padding: 20px;
    max-height: 100px;
}

.submit-btn {
    background-color: #ff8c00;
    /* Bold orange background */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 7px 10px;
    cursor: pointer;
    font-weight: bold;
    /* Bold text */
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #e86c00;
    /* Darken orange on hover */
}


/* the voting section, not used yet */