@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font: 14px/1 'Open Sans', sans-serif;
  color: #555;
  background: #eee;
}

h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

main {
  min-width: 320px;
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;
  background: #fff;
}

main_poll {
    min-height: 450px;
    max-width: 800px;
    padding: 50px;
    margin: 0 auto;
    background: #fff;
  }

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

input {
  display: block;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before {
  content: '\f1cb';
}

label[for*='2']:before {
  content: '\f17d';
}

label[for*='3']:before {
  content: '\f16b';
}

label[for*='4']:before {
  content: '\f1a9';
}

label:hover {
  color: #888;
  cursor: pointer;
}

/* label:focus{
  background-color: cyan;
} */

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }

  label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}
  
  .poll {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
  }
  
  .poll:first-child {
    display: block;
  }
  
  .button-group {
    display: block;
    margin: 10px 0;
  }
  
  .button {
    display: block;
    padding: 20px;
    font-size: 24px;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  /* #option1:checked + label{
    background-color:red;
  } */
  
  .button:hover {
    background-color: #e2e2e2;
  }
  
  
  .arrow {
    display: inline-block;
    background-color: #ffffff;
    border: none;
    color: #000000;
    font-size: 24px;
    margin: 0 10px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }

button {
	border-radius: 20px;
	border: 1px solid #FED18C;
	background-color: #ffb20f;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor:pointer;
}


button:active {
	transform: scale(0.95);
}
  
  input[type=submit]:hover {
    background-color: #3e8e41;
  }

  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #04AA6D;
    color: black;
    top: 50%;
    /* left: auto; */
    /* right: -50px; */
    /* position: absolute; */
  }
  
  .next {
    background-color: #04AA6D;
    color: rgb(0, 0, 0);
    top: 50%;
  }
  
  .round {
    border-radius: 50%;
  }

  .arrow-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  .arrow-container-left {
    position: absolute;
    left: 0;
  }

  .arrow-container-right {
    position: absolute;
    right: 0;
  }
  
  .arrow-container:first-child {
    float: left;
  }

  .question {
    font-size: 24px;
  }
