@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
}

h1 {
	font-weight: bold;
	margin: 0;
	color:#222;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
	margin:10px;
	padding: 5px;
	font-size: 14px
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20pxFED99B 0 30px;
}

span {
	font-size: 30px;
} 

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #FED18C;
	background-color: #ffb20f;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor:pointer;
}


button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.edit-password_form{
	width: 100%;
	padding: 0 0;
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	height: 100%;
	text-align: center;

}



.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: auto;
	width: 55%;
	max-width: 100%;
	min-height: 75%;
	/* max-height: 75%; */
	color:#222;
}

.form-container {
	position: absolute;
	top: 0%;
	height: 100%;
	transition: all 0.6s ease-in-out;

}

.sign-in-container {
	height: 100%;
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	height: 100%;
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}



.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	/* height: 90%; */
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #fe654f;
	background: -webkit-linear-gradient(to right, #FED18C, #fe654f);
	background: linear-gradient(to right, #FED18C, #fe654f);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);

	overflow-y: auto;
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);

	overflow-y: auto;
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
	margin-bottom: 0;
}

footer p {
    margin: 10px 0;
	bottom: 0;
	position: fixed;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}

select {
	outline: 0;
	background-color: #eee;
	border-color: #FFFFFF;
	color: #333;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
} 

.label-flex {
	justify-content: space-between;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	-o-justify-content: space-between;
	-ms-justify-content: space-between; }
	.label-flex label {
	  width: auto; }

.select-list {
  position: relative;
  display: inline-block;}

.image-container {
	width: 80%; /* or whatever width you want */
	height: 50%; /* or whatever height you want */
	background-color: transparent;
}
  
.image {
	width: 100%; /* Make the image take up the full width of the container */
	height: 100%; /* Make the image take up the full height of the container */
	object-fit: cover; /* Scale the image while preserving its aspect ratio to cover the entire container */
}


  /* new css for profile page */
  /* .profile-container{
	height: 90%;
	top: 10%;
	
} */

.tabcontent{
	height: 90%;
	top: 10%;
	width: 100%;

	padding-bottom: 50px;
}


.nav-tabs {
    display: flex;
	height: 10%;
	justify-content: space-evenly;
    padding: 10px 20px;
    background-color: #ef3417;
    background: -webkit-linear-gradient(to right, #FED18C, #ffb20f);
    background: linear-gradient(to right, #FED18C, #ffb20f);
    border-radius: 10px 10px 0 0;

	flex-wrap: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none; /* For Firefox */
	-ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.nav-tabs::-webkit-scrollbar {
	display: none; /* For Chrome, Safari, and Opera */
  }

.nav-tab {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
	/* justify-content: space-evenly; */
	justify-content: center; 
	padding: 8px 50px;
	transition: background-color 0.3s, color 0.3s;
	height: 100%;
	align-items: center;
	display: flex;
	line-height: 24px;
	text-align: center;
	width: 100%;
}



.tab-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
	/* flex: 0 0 auto; */
}

/* .nav-tab:hover {
    text-decoration: underline;
	background-color: #ddd;
} */
.nav-tab:hover {
    background-color: #FED99B;
    color: #57068c;
    border-radius: 5px;
}

.nav-tab.active {
    /* background-color: #FED99B; */
    color: #57068c;

}

.user-history-container {
    /* background: linear-gradient(to bottom, #FED18C, #fe9c6e); */
	background-color: #fff;
    /* border-radius: 10px; */
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 20px 50px;
    width: 100%;
    max-width: 100%;
	height: 90%;
	top: 10%;
	overflow: autoï¼›

}
.history-content{
	/* height:300px; */
	height:40%;
    overflow:auto;
}

.user-history-container h2 {
    margin-bottom: 20px;
}

.user-history-container ul {
    list-style-type: none;
    padding: 0;
}

.user-history-container li {
    padding: 10px;
    /* border-bottom: 1px solid #eee; */
}

.user-history-container li:last-child {
    border-bottom: none;
}
.profile-pic-container {
	/* height: 100%; */
	display: flex;
  	align-items: center;
  	justify-content: center;
	position: relative;
	left: 0;
	width: 50%;
	z-index: 2;
	padding-top: 50px;
}

.user-history-container2,
.polls-created-container {
  width: 50%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.user-history-container2 {
  float: left;
}

.polls-created-container {
  float: right;
}

.history-content,
.polls-content {
  height: calc(100% - 40px); /* Subtract the height of the header */
  overflow-y: auto;
}




  @media (max-width: 767px) {
	.nav-tabs {
	  overflow-x: auto;
	  white-space: nowrap;
	  display: flex;
	  justify-content: flex-start;
	  -webkit-overflow-scrolling: touch;
	}
  
	.nav-tab {
	  font-size: 14px;
	  padding: 8px 16px;
	}
  }


.user-history-container2,
.polls-created-container {
  width: 50%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.user-history-container2 {
  float: left;
}

.polls-created-container {
  float: right;
}

.history-content,
.polls-content {
  height: calc(100% - 40px); /* Subtract the height of the header */
  overflow-y: auto;
}




  @media (max-width: 767px) {
	.nav-tabs {
	  overflow-x: auto;
	  white-space: nowrap;
	  display: flex;
	  justify-content: flex-start;
	  -webkit-overflow-scrolling: touch;
	}
  
	.nav-tab {
	  font-size: 14px;
	  padding: 8px 16px;
	}
  }



/* Styles for smaller screens */
@media (max-width: 768px) {
	.nav-tabs {
	  flex-direction: column;
	}
  
	.tab-wrapper {
	  width: 100%;
	  margin-bottom: 8px;
	}
  
	.nav-tab {
	  font-size: 14px;
	  padding: 8px 16px;
	  text-align: center;
	}
  }

.profile-info-container{
	/* height: 100%; */
	position: absolute;
	right: 0;
	width: 50%;
	z-index: 2;
	background-color: #FFFFFF;
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 50px;
	/* padding-bottom: 50px; */
    text-align: center;

    overflow-y: auto;


}

.profile-edit-container{
	padding: 50px 50px;
}

.post-content{
	/* height:300px; */
	height:90%;
    overflow:auto;
	top: 10%;
}

.comment-content{
	/* height:300px; */
	height:90%;
	top: 10%;
    overflow:auto;
}

/* #commentTextDisp {
	display: block;
	position: absolute;
	top: 0;
	height: 30%;
  } */

  /* vertically centered the poll display container */
.poll-display-container{
	/* align-items: center;
    justify-content: center; */
	display: flex;
	flex-direction:column;
  	align-items: center;
  	justify-content: center;
	/* padding: 20px 20px; */
	overflow-y: auto;
}


.poll-display-container2{
	/* align-items: center;
    justify-content: center; */
	display: flex;
	flex-direction:column;
  	align-items: center;
  	justify-content: center;
	padding: 20px 20px;
	padding-bottom: 10px;
	overflow-y: auto;


}

.main-container {
	background-color: #582707;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
	  0 10px 10px rgba(0, 0, 0, 0.22);
	position: relative;
	overflow: hidden;
	width: 55%;
	max-width: 100%;
	min-height: 75%;
	max-height: 75%;
	color: #222;
	display: flex;
	flex-direction: column;
	background: -webkit-linear-gradient(to right, #FED18C, #ffb20f);
    background: linear-gradient(to right, #FED18C, #ffb20f);
  }
  
#poll-container{
	position: relative;
    width: 100%;
    min-height: 90%;
	/* delete if poll display section and comment section is set scrollable separately */
    overflow: auto;
}
#category-tabs {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 20px;
    background-color: #582707;
    background: -webkit-linear-gradient(to right, #FED18C, #ffb20f);
    background: linear-gradient(to right, #FED18C, #ffb20f);
    border-radius: 10px 10px 0 0;
    height: 10%;
	/* small width screen cannot show all category tabs */
	overflow-x: auto;
}

/* html {
    height: 100%;
} */
  
.white-placeholder::placeholder {
	color: white;
}



#hidden_question_text {
	display: none;
}



.footer{
    /* background-color: #fed18c; */
	background-color: transparent;
	/* color: white; */
	color: black;
	margin-top: auto;
}

.inner-poll-display{
	overflow-y: auto;
	position: relative;
}

.text-center{
	bottom: 0;
	position: relative;
}

.friend_request_button {
    display: inline-block;
    border-radius: 20px;
    border: 1px solid #FED18C;
    background-color: #ffb20f;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    text-decoration: none;
}

.friend_request_button:active {
    transform: scale(0.95);
}

.friend_request_button:focus {
    outline: none;
}

.friend_request_button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

.accept, .decline {
    border-radius: 20px;
    border: 1px solid #FED18C;
    background-color: #ffb20f;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: bold;
    padding: 5px 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    text-decoration: none;
	margin-left: 0px;
}

.decline {

    margin-left: 10px;
}

.accept:hover, .decline:hover {
    background-color: #FF9A00;
}

.accept:active, .decline:active {
    transform: scale(0.95);
}

.accept:focus, .decline:focus {
    outline: none;
}

.decline {
    background-color: #f44336;
    border-color: #f44336;
}

.decline:hover {
    background-color: #e53935;
}

.profile-picture-container {
    /* display: flex; */
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
	margin-left: 5px;
}



.friend-request-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block-button-container {
	margin-left: 20px;
  }


.friend-container {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
  }
  
  .username-container {
	margin-left: 10px;
  }

  #profile-container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	/* overflow-x: hidden; */
	overflow: auto;
	width: 55%;
	max-width: 100%;

	color:#222;

}

#profile-tabs {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .nav-tabs .nav-item {
	flex: 0 0 auto;
	width: auto;
	white-space: nowrap;
  }


 
  
  /* #notification-badge {
	position: relative;

	background-color: red;
	color: white;
	border-radius: 100%;
	padding: 2px 6px;
	font-size: 12px;
  } */
  #notification-badge {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);

    background-color: red;
    color: white;
    border-radius: 100%;
    padding: 4px;
    font-size: 12px;
    text-align: center;
    min-width: 18px;
    min-height: 18px;
    line-height: 1;
}
  
  .hidden {
	display: none;
  }

  .tab-content {
    position: relative;
    padding: 0 8px;
}

.chat-badge {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);

    background-color: red;
    color: white;
    border-radius: 100%;
    padding: 4px;
    font-size: 12px;
    text-align: center;
    min-width: 18px;
    min-height: 18px;
    line-height: 1;
}
  .notification-list {
	padding-left: 40px;
	padding-right: 40px;
	font-size: 14px;
	height: 80%;
	overflow-y: auto;
	overflow-x: auto;
    white-space: nowrap;
	width: 100%;
  }

  h4 {
	font-weight: bold;
	color:#222;
	text-align: center;
	font-size: 25px;
  }

  .text-muted {
	font-size: 14px;
  }
