
{% include 'includes/messages.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{% static '../static/css/header.css' %}">
    
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    
    <title>Dashboard Sidebar Menu</title> 
</head>
<body>
    <nav class="sidebar close" id="nav__toggle">
        <header>
            <div class="image-text">
                

                {% if not user.is_authenticated %}
                <div class="text logo-text">
                    <span class="name">Show of Hands</span>
                </div>
                {% elif user.is_authenticated %}
                <div class="text logo-text">
                    <span class="name">{{ request.user }}</span>
                 
                </div>
                {% endif %}
            </div>

            <i class='bx bx-chevron-right toggle'id='arrow'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Search...">
                </li>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-home-alt icon' ></i>
                            <span class="text nav-text">Polls</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        {% if user.is_authenticated %}
                        <a href={% url 'account:profile_page' %}>
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">Profile</span>
                        </a>
                        {% endif %}
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">Notifications</span>
                        </a>
                    </li>

                 

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">Chat</span>
                        </a>
                    </li>

                   


                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-pie-chart-alt icon' ></i>
                            <span class="text nav-text">Analytics</span>
                        </a>
                    </li>

                    

                   
                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    {% if not user.is_authenticated %}
                    <a href={% url 'account:login_page' %}>
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Login</span>
                    </a>
                    {% elif user.is_authenticated %}
                    <a href={% url 'account:logout_page' %}>
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                    {% endif %}
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                    
                </li>
                <script type="text/javascript" src="{% static 'js/header.js' %}"></script>
            </div>
        </div>

    </nav>

    <section class="home">
        <div class="text">Dashboard Sidebar</div>

    </section>


    

</body>
</html>