{% include 'includes/messages.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{% static '../static/css/header.css' %}">
    
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!----===== Autocomplete Search ===== -->
    <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"/>
    
    <title>Show of Hands</title> 
</head>
<body>
    <nav class="sidebar close" id="nav__toggle">
        <header>
            <div class="image-text">                

                {% if not user.is_authenticated %}
                <div class="text logo-text">
                    <span class="name">Show of Hands</span>
                </div>
                {% elif user.is_authenticated %}
                <div class="text logo-text">
                    <span class="name">{{ request.user }}</span>
                 
                </div>
                {% endif %}
            </div>

            <i class='bx bx-chevron-right toggle'id='arrow'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <div id="autocomplete" class="autocomplete">
                    <input class="autocomplete-input" id="search-input" name="search" placeholder="Search"/>
                    <ul class="autocomplete-result-list"></ul>
                </div>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href={% url 'posts:home_page' %}>
                            <i class='bx bx-home-alt icon' ></i>
                            <span class="text nav-text">Polls</span>
                        </a>

                    </li>

                    <li class="nav-link">
                        <a href={% url 'posts:create_poll' %}>
                            <i class='bx bx-plus-circle icon'></i>
                            <span class="text nav-text">New Poll</span>
                        </a>
                    </li>

                    <li class="nav-link" id="ProfilePageNavB">
                        <a href={% url 'account:profile_page' request.user %}>
                            <i class='bx bx-user icon'></i>
                            <span class="text nav-text">Profile</span>
                        </a>
                    </li>

                    <li class="nav-link" id="testy" onclick="getPosts();">
                        <a>
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">Notifications</span>
                        </a>
                    </li>
                 

                    <li class="nav-link">
                        <!-- modify link later -->
                        <a href={% url 'connections:chat_page_test' 1 %}>
                            <i class='bx bx-chat icon'></i>
                            <span class="text nav-text">Chat</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-pie-chart-alt icon' ></i>
                            <span class="text nav-text">Analytics</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    {% if not user.is_authenticated %}
                    <a href={% url 'account:login_page' %}>
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Login</span>
                    </a>
                    {% elif user.is_authenticated %}
                    <a href={% url 'account:logout_page' %}>
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                    {% endif %}
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                    
                </li>
                <script type="text/javascript" src="{% static 'js/header.js' %}"></script>
            </div>
        </div>

    </nav>

    <div class="header">
        <img class="logo" src="../../../static/images/logo.svg" alt="" href="#">
    </div>
</body>
</html>

<!----===== Autocomplete Search ===== -->
<script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
<script>
    new Autocomplete('#autocomplete', {
        search: input => {
            if (input.length < 1) { return [] }
            return fetch(`/posts/search/?search=${input}`)
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    return data.search_results.map(result => {
                        return {
                            postID: result.id,
                            question: result.question_text,
                            options: result.options.map(option => option.choice_text)
                        }
                    });
                });
        },
        renderResult: (result, props) => {
            return `
            <a href="#" onclick="handleResultClick(${result.postID})">
                <ul class="autocomplete-result" data-id="${result.postID}">
                    <li class="autocomplete-question">
                        ${result.question}
                    </li>
                    <li class="autocomplete-options">
                        ${result.options.join(', ')}
                    </li>
                </ul>
            </a>`;
        },
    });
    function handleResultClick(id) {
        window.location.href = `/posts/${id}/`;
    }
</script>