
<div class = "comment-section">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    {% if show_comments_text %}
        
        <div>
            
            {% for comment in comments %}
  
            <div class="comment-box">
                <div class="comment">
                    <div class="profile-picture-container"  id="pfp{{ forloop.counter }}">
                        <img src="{{ comment.commented_by.profile_picture.url }}" alt="User Avatar" class="avatar">
                    </div>
                    <div class="comment-info">
                        <p class="username"><a href="{% url 'account:profile_page' comment.commented_by %}">{{ comment.commented_by }}</a></p> 
                        <p class="comment-text">{{ comment.comment_text | safe }}</p>
                    </div>
                </div>
                <div class="comment-action">
                    <a id = "Upvote{{ comment.id }}" onclick="upvoteComment(event, {{ comment.id }})"><i class="fas fa-arrow-alt-circle-up"></i></a>
                    <span class = "react">{{ comment.vote_count }}</span>
                    <a id = "Downvote{{ comment.id }}" onclick="downvoteComment(event, {{ comment.id }})"><i class="fas fa-arrow-alt-circle-down"></i></a>
                    <a class="timestamp">{{ comment.commented_time |date:"M d, Y, P"  }}</a>
                    {% if request.user == comment.commented_by %}
                    <a class="delete" onclick="deleteComment(event, {{ comment.id }})"><i class="fas fa-trash-alt"></i></a>
                    {% endif %}
                    {% if request.user != comment.commented_by %}
                    <a id="Report{{ comment.id }}" onclick="reportComment(event, {{ comment.id }})"><i class="fas fa-exclamation-triangle"></i></a>
                    {% endif %}
                    <a class="reply" data-username="{{ comment.commented_by.username }}"><i class="fas fa-comment"></i></a>

                  
                        {% if request.user in comment.upvoted_by.all %}
                        <script>$("#Upvote{{ comment.id }}").addClass("upvoted");</script>
                        {% else %}
                        <script>$("#Upvote{{ comment.id }}").addClass("upvote");</script>
                        {% endif %}
                    
                        {% if request.user in comment.downvoted_by.all %}
                        <script>$("#Downvote{{ comment.id }}").addClass("downvoted");</script>
                        {% else %}
                        <script>$("#Downvote{{ comment.id }}").addClass("downvote");</script>
                        {% endif %}

                        {% if request.user in comment.reported_by.all %}
                        <script>$("#Report{{comment.id}}").addClass("reported");</script>
                        {% else %}
                        <script>$("#Report{{comment.id}}").addClass("report");</script>
                        {% endif %}
                   


                </div>
            </div>
            <script>
                document.getElementById('pfp{{ forloop.counter }}').style.borderColor = "#{{comment.option_voted.color}}";
            </script>
            {% endfor %}
        
        </div>
        
    {% endif %}
    
    </div>
    
    <script>
        $(document).ready(function() {
            $(".reply").click(function(e) {
                e.preventDefault();
                var username = $(this).data("username");
                var commentField = $("#commentTextDisp2 .comment-input");
                commentField.val("@" + username + " ");
                commentField.focus();
            });
            $("#commentTextDisp2 .comment-input").keydown(function(e) {
                if (e.key === "Backspace") {
                    var inputField = $(this);
                    var cursorPosition = inputField.prop("selectionStart");
                    var inputValue = inputField.val();
                    var mentionRegex = /@\w+\s?$/;
                    var textBeforeCursor = inputValue.slice(0, cursorPosition);
        
                    if (mentionRegex.test(textBeforeCursor)) {
                        e.preventDefault();
                        var newValue = textBeforeCursor.replace(mentionRegex, "") + inputValue.slice(cursorPosition);
                        inputField.val(newValue);
                        inputField.prop("selectionStart", cursorPosition - 1);
                        inputField.prop("selectionEnd", cursorPosition - 1);
                    }
                }
            });
        });
        function showMessage(message) {
            var $message = $('<div class="report-message">' + message + '</div>');
            $('body').append($message);
            $message.css({
                'position': 'fixed',
                'top': '0',
                'left': '0',
                'width': '100%',
                'padding': '10px',
                'text-align': 'center',
                'background-color': '#eee6f3',
                'color':'#18191a',
            });
            $message.slideDown(300).delay(3000).slideUp(300, function () {
                $message.remove();
            });
        }
        function reportComment(event, commentId) {
            var $commentAction = $(event.target).closest(".comment-action");
            var $report = $commentAction.find("#Report" + commentId)
            if ($report.hasClass("reported")) {
                $report.removeClass("reported").addClass("report")
            } else {
                $report.removeClass()
                $report.addClass("reported")
            }
            event.preventDefault();               
                $.ajax({
                    url: "{% url 'posts:report_comment' comment_id=1 %}".replace(/1/, commentId.toString()),
                    type: "GET",
                    dataType: "json",
                    success: function(response) {
                        if (response.report === "success") {
                            // Handle a successful report here
                            showMessage(response.message);
                        } else if (response.report === "unreported") {
                            // Handle the case when the user has already reported the comment
                            showMessage(response.message);
                        } else {
                            // Handle any other errors
                            alert("An error occurred while reporting the comment.");
                        }
                    },
                    error: function(xhr, reported, error) {
                        // Handle the error here
                        alert("Request error");
                    },
                });
            }

        function deleteComment(event, commentId) {
            event.preventDefault();
            var result = confirm("Do you want to delete your comment?");
            if (!result) {
                alert("Comment gets to live another day!")
            }
            else {
                $.ajax({
                    url: "{% url 'posts:delete_comment' comment_id=1 %}".replace(/1/, commentId.toString()),
                    type: "GET",
                    success: function (response) {
                        if (response.delete === "success") {
                            getComments()
                            showMessage(response.message)
                        } else {
                            alert("Something went wrong")
                        }
                    },
                    error: function () {
                        console.log("Comment delete error");
                    },
                  });
                }
            }   

    //The upvote/downvote will fake a frontend update so comment section no longer need to refresh everytime a user votes
    //Ajax should not be needed here
        function upvoteComment(event, commentId) {
            var $commentAction = $(event.target).closest(".comment-action");
            var $voteCount = $commentAction.find(".react");
            
            if ($commentAction.find("#Upvote" + commentId).hasClass("upvote")) {
                $commentAction.find("#Upvote" + commentId).removeClass("upvote").addClass("upvoted");
                $voteCount.text(parseInt($voteCount.text()) + 1);
          
                if ($commentAction.find("#Downvote" + commentId).hasClass("downvoted")) {
                    $commentAction.find("#Downvote" + commentId).removeClass("downvoted").addClass("downvote");
                    $voteCount.text(parseInt($voteCount.text()) + 1);
              }
            } else {
              $commentAction.find("#Upvote" + commentId).removeClass("upvoted").addClass("upvote");
              $voteCount.text(parseInt($voteCount.text()) - 1);
            }
            $.ajax({
                url: "{% url 'posts:upvote_comment' comment_id=1 %}".replace(/1/, commentId.toString()),
                type: "GET",
                    dataType: "json",
                    success: function(response) { 
                    },
                    error: function(xhr, reported, error) {
                        // Handle the error here
                        console.log(response)
                    },
                });    
        }  

        function downvoteComment(event, commentId) {
            var $commentAction = $(event.target).closest(".comment-action");
            var $voteCount = $commentAction.find(".react");

            if ($commentAction.find("#Downvote" + commentId).hasClass("downvote")) {
                $commentAction.find("#Downvote" + commentId).removeClass("downvote").addClass("downvoted");
                $voteCount.text(parseInt($voteCount.text()) - 1);
            
                if ($commentAction.find("#Upvote" + commentId).hasClass("upvoted")) {
                    $commentAction.find("#Upvote" + commentId).removeClass("upvoted").addClass("upvote");
                    $voteCount.text(parseInt($voteCount.text()) - 1);
            }
            } else {
                $commentAction.find("#Downvote" + commentId).removeClass("downvoted").addClass("downvote");
                $voteCount.text(parseInt($voteCount.text()) + 1);
            }
                      
            $.ajax({
                url: "{% url 'posts:downvote_comment' comment_id=1 %}".replace(/1/, commentId.toString()),
                type: "GET",
                    dataType: "json",
                    success: function(response) {
                    },
                    error: function(xhr, reported, error) {
                        // Handle the error here
                        console.log(response)
                    },
                });    
        }  
    </script>
    
    