<div class = "comment-section">

{% if show_comments_text %}
    
    <div>
        
        {% for comment in comments %}

        <div class="comment-box" id = "comment-box_{{ comment.id }}">
            <div class="comment">
                <!-- query user model and get profile_picture -->
                <!-- <img src="https://via.placeholder.com/40" alt="User Avatar" class="avatar"> -->
                <img src="{{ comment.commented_by.profile_picture.url }}" alt="User Avatar" class="avatar">
                <div class="comment-info">
                    <p class="username"><a href="{% url 'account:profile_page' comment.commented_by %}">{{ comment.commented_by }}</a></p> 
                    <p class="comment-text">{{ comment.comment_text | linebreaks }}</p>
                    <span class="timestamp">{{ comment.commented_time |date:"M d, Y, P"  }}</span>
                </div>
            </div>
        </div>
        <script>
            document.getElementById('comment-box_{{ comment.id }}').style.backgroundColor = "#{{ user_color }}";
        </script>
        {% endfor %}
    
    </div>
    
{% endif %}

</div>



{% comment %} user.user_option.color {% endcomment %}