<div>
  {% csrf_token %}
  <!-- 1L -->
  <div class="form-container sign-in-container">
    <!-- Question -->
    <br><br><br><br><br><br><br><br>
    <h2 class="question">{{ post.question_text }}</h2>
    <br>

    <div class="section over-hide z-bigger">
      <input class="checkbox" type="checkbox" name="general" id="general">
      <div class="section over-hide z-bigger">
        <div class="checkcontain pb-5">
          <div class="row justify-content-center pb-5">
            <div class="col-12 pb-5">
              {% for option in options %}
              
              <!-- TO DO: fix the coloring & formating to match -->
              <input class="checkbox-tools" type="radio" name="option" id="option{{ forloop.counter }}" value="{{ option.id }}">
              <label class="for-checkbox-tools" for="option{{ forloop.counter }}">
                <i class='uil'></i>
                {{ option.choice_text }}
              </label>
  
              {% endfor %}
            </div>
          </div>
        </div>
      </div> 
    </div>     
    <br>
    <button type="submit" value="Submit" name="access_info" id="voteSubmit">Submit</button>

	</div>

  <!-- 1R: Comments -->
	<div class="overlay-container">
		<div class="overlay">
      
			<div class="overlay-panel overlay-right">
        {% if request.user.is_authenticated %}
				<p>Vote to see the comments!</p>
        {% elif not request.user.is_authenticated %}
        <p>Sign in to vote and see the comments!</p>
        <p></p>
        <a href={% url 'account:login_page' %}>
          <!-- <button class="ghost">Sign In</button> -->
          Sign In
        </a>
        {% endif %}
			</div>

		</div>
	</div>

</div>