{% include 'includes/header.html' %}

{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/style.css' %}" />
</head>

<div class="container {{ class_ }}" id="poll-form">
    <div class="create-container">
        <form method = "POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>Create Your Own Poll</h1>
            <br>
            <h4>Add Your Question</h4>
            
            <select id="prefix" name="prefix">
                {% for prefix in form.prefix.field.choices %}
                <option value="{{ prefix.0 }}" {% if form.prefix.field.value == prefix.0 %} selected{% endif %}>{{ prefix.1 }}</option>
                {% endfor %}
            </select>

            <input id="hidden_question_text" placeholder="Type your question" name="question" type="text">

            <h4>Add Your Poll Options</h4>
            <input id="choice1" placeholder="Insert Option 1" name="choice1" type="text" required style="background-color: #AED9E0;" class="white-placeholder">
            <input id="choice2" placeholder="Insert Option 2" name="choice2" type="text" required style="background-color: #8CB369;" class="white-placeholder">
            <input id="choice3" placeholder="Insert Option 3" name="choice3" type="text" style="background-color: #D7A5E4;" class="white-placeholder">
            <input id="choice4" placeholder="Insert Option 4" name="choice4" type="text" style="background-color: #5D6DD3;" class="white-placeholder">
            <h4>What's The Fun In Revealing Results Immediately?</h4>
            {{ form.delay }}
            <h4>Add Relevant Categories</h4>
            {{ form.category }}
            <button type="submit" value="submit-poll" name="submit-poll" class="submit">Submit Poll</button>
        </form>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

<script>
    $("#prefix").change(function(){
    if($(this).val() == 'own_ques'){
      $("#hidden_question_text").show();
    }else{
      $("#hidden_question_text").hide();
    }
});
</script>