<!-- <div class="container center-screen" id="container">
    <h1>
        Welcome, {{ request.user }}
    </h1>
    {% if not user.is_authenticated %}
    <h1>
        Click SignIn and check out our User Resgistration Setup! (so far)
    </h1>
    {% elif user.is_authenticated %}
    <h1>
        No Polls to view just yet! Come back next week for more interesting updates :)
    </h1>
    {% endif %}
</div> -->
{% include 'includes/messages.html' %}
{% include 'includes/header.html' %}
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/home.css' %}" />
</head>

<main style="width: calc(100% - 250px); position: absolute;
top: 0;
top: 0;
left: 250px;
height: 100vh;">
  
  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">All</label>
    
  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Category 1</label>
    
  <input id="tab3" type="radio" name="tabs">
  <label for="tab3">Category 2</label>
    
  <input id="tab4" type="radio" name="tabs">
  <label for="tab4">Category 3</label>
    
  <section id="content1">
  </section>
    
  <section id="content2">
  </section>
    
  <section id="content3">
  </section>
    
  <section id="content4">
  </section>

  <div class="arrow-container-left">
    <a href="#" class="previous round">&#8249;</a>
  </div>
  <div style="text-align: center;">
    {% if not display_result %}
    
    <form action="." method="post">
      {% csrf_token %}
      <p class="question">{{ post.question_text }}</p>
      <div class="button-group">
        
        {% for option in options %}
        <label class="button" id="yolo{{ forloop.counter }}">
          <input type="radio" name="option" id="option{{ forloop.counter }}" value="{{ option.id }}" onclick="chBackcolor('yolo{{ forloop.counter }}');">
          <span>{{ option.choice_text }}</span>
        </label>
        {% endfor %}

      </div>
      <button type="submit" value="Submit" name="access_info">Submit</button>
    </form>
    
    {% else %}

    <form>
      <p class="question">{{ post.question_text }}</p>
      <div class="button-group">
        
        {% for option in options %}
        <label class="button">
          <input type="radio" name="option" id="option{{ forloop.counter }}" value="{{ option.id }}">
          <span>{{ option.choice_text }} : {{ option.votes }}</span>
        </label>
        {% endfor %}

      </div>
    </form>

    {% endif %}


    <script type="text/javascript" src="{% static '../static/js/home.js' %}"></script>
  </div>
  <div class="arrow-container-right">
    <a href="#" class="next round">&#8250;</a>
  </div>
