{% include 'includes/header.html' %}
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/radio.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/comments.css' %}"/>
</head>


<div class="main-container">
    <div class="nav-tabs" id="category-tabs">
        <div class="tab-wrapper">
            <a class="nav-tab active" id="nav-all-tab" data-url="all" onclick="openCatTab(event, 'all');">All</a>
            </div>
            <div class="tab-wrapper">
            <a class="nav-tab" id="nav-sports-tab"  data-url="sports" onclick="openCatTab(event, 'sports');">Sports</a>
             </div>
            <div class="tab-wrapper">
            <a  class="nav-tab" id="nav-entertainment-tab"  data-url="entertainment" onclick="openCatTab(event, 'entertainment');">Entertainment</a>
            </div>
            <div class="tab-wrapper">
                <a  class="nav-tab" id="nav-misc-tab"  data-url="misc" onclick="openCatTab(event, 'misc');">Misc</a>
            </div>
    </div>
    <div class="container" id="poll-container">
    
        <div class="post-content mt-5" id="postDispDiv">
            <!-- <form action="." method="post" id="postDispForm"></form> -->
        </div>
    </div>

</div>


<div class="center-con">
    <div class="round">
        <div id="cta">
            <span class="arrow primera next " onclick="getNextPost();"></span>
            <span class="arrow segunda next " onclick="getNextPost();"></span>
        </div>
    </div>
</div>

{% block scripts %}

{% include "includes/ajax_functions.html" %}

{% endblock scripts %}

<script>

getCurrPost();


// // trying to fix back button not loading ajax contents issue
window.onpopstate = function (e) {
    var current_url = getCurrentURL();
    // console.log(url);
    // var res = sessionStorage.getItem('cat');
    // console.log(res);
    // if(res){
    //     openCatTabforback(res);
    // }
    current_cat = current_url.split("/").at(-3);
    openCatTabforback(current_cat);
    getBack(current_url);
}
//     console.log(getCurrentURL());
//     $.ajax({
//         url:getCurrentURL(),
//         type:"GET",
//         success: function(resp){
//             // changeurl();
//             localStorage.setItem("response", resp);
//             $("#postDispDiv").html(resp);
//         },
//             error: function(resp){
//               console.log("getnextpost error")
//             }
//         })
//     // console.log(getCurrentURL());
//     // location.reload();
//     // getCurrPost();
// }


function openCatTab(evt, currentCat){
    tablinks = document.getElementsByClassName("nav-tab");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    evt.currentTarget.className += " active";
    getCategoryBasedPosts(currentCat);
}

function openCatTabforback(currentCat){
    tablinks = document.getElementsByClassName("nav-tab");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    main_tablink = document.getElementById("nav-" + currentCat.toString() + "-tab");
    main_tablink.className += " active";
}

</script>
