<!-- <div class="container center-screen" id="container">
    <h1>
        Welcome, {{ request.user }}
    </h1>
    {% if not user.is_authenticated %}
    <h1>
        Click SignIn and check out our User Resgistration Setup! (so far)
    </h1>
    {% elif user.is_authenticated %}
    <h1>
        No Polls to view just yet! Come back next week for more interesting updates :)
    </h1>
    {% endif %}
</div> -->
{% include 'includes/messages.html' %}
{% include 'includes/header.html' %}
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/home.css' %}" />
</head>

<main style="width: calc(100% - 250px); position: absolute;
top: 0;
top: 0;
left: 250px;
height: 100vh;">
  
  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">All</label>
    
  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Category 1</label>
    
  <input id="tab3" type="radio" name="tabs">
  <label for="tab3">Category 2</label>
    
  <input id="tab4" type="radio" name="tabs">
  <label for="tab4">Category 3</label>
    
  <section id="content1">
  </section>
    
  <section id="content2">
  </section>
    
  <section id="content3">
  </section>
    
  <section id="content4">
  </section>

  <div class="arrow-container-left">
    <a href="#" class="previous round">&#8249;</a>
  </div>
  <div style="text-align: center;">


    <div class="post-content mt-5" data-url="{% url 'posts:show_curr_post_api' %}">




    <form action="." method="post" id="postDispForm">
      
    </form>




    </div>


    <script type="text/javascript" src="{% static '../static/js/home.js' %}"></script>
  </div>

 
 
 
 
  <form action="." method="post" id="commentTextDisp">
  </form>


  <br>


  <div id="commentDisp">

  </div>






  <div class="arrow-container-right">
    <a class="next round" onclick="getNextPost();">&#8250;</a>
  </div>


  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>







{% block scripts %}
<script>

    function getPosts(){
        $.ajax({
            url: $(".post-content").data('url'),
            type: "GET",
            success: function(resp){
                $("#postDispForm").html(resp);
            },
            error: function(resp){
                console.log("getpost error");
            }
        });
    }



    function getCurrPost(){
        $.ajax({
            url: $(".post-content").data('url'),
            type: "GET",
            success: function(resp){
                $("#postDispForm").html(resp);
                var url= $(".post-content").data('url');
                // console.log(url);
            },
            error: function(resp){
                console.log("getcurrpost error");
            }
        });
    }

    getCurrPost();


    
    
    // $("#postDispForm").on("submit", function(e){
    //     e.preventDefault();
    //     e.stopPropagation();
    // to do ajax call from here on submission of postdisp form
    $('#postDispForm').submit(function(){
        var $this = $(this);
        var valid = true;
    
        if(valid){
            //ajax
            $.ajax({
                url: $this.attr('action'),
                type: "POST",
                data: $(this).serialize(),
                // data: {
                //     "csrfmiddlewaretoken": "{{ csrf_token }}",
                //     "option": 1,
                // },
                dataType: 'json',
                success: function(resp){
                    if(resp.voting === 'success'){
                        getCurrPost();
                        getCommentsText();
                        getComments();
                    }else{
                        alert(resp.voting);
                    }

                },
                error: function(resp){
                    console.log("post submission error");
                }
            });
        }
        return false;
    });



    function getNextPost(){
        $.ajax({
            url:"{% url 'posts:show_next_post_api' %}",
            type:"GET",
            success: function(resp){
                $("#postDispForm").html(resp);
                changeurl();
                // changeurl("res");
                // console.log("meow:{{ post_.id }}")
            },
            error: function(resp){
              console.log("getnextpost error")
            }
        });
    }



  // eg: changeurl("res");
  function changeurl()
  {
    $.ajax({
            url:"{% url 'posts:get_current_post_url_api' %}",
            type:"GET",
            success: function(resp){
                var new_url=resp.current_url;
                window.history.pushState("data","Title",new_url);
                // console.log(new_url)
            },
            error: function(resp){
              console.log("changeurl error")
            }
        });
  }


  function getCommentsText()
  {
    $.ajax({
      url: "{% url 'posts:show_comments_text_api' %}",
      type: "GET",
      success: function(resp){
        $("#commentTextDisp").html(resp);
      },
      error: function(resp){
        console.log("comment error");
      }
    })
  }



  function getComments()
  {
    $.ajax({
      url: "{% url 'posts:show_comments_api' %}",
      type: "GET",
      success: function(resp){
        $("#commentDisp").html(resp);
      },
      error: function(resp){
        console.log("comment error");
      }
    })
  }

  getCommentsText();
  getComments();


</script>
{% endblock scripts %}