{% include 'includes/header.html' %}

{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/style.css' %}" />
	<!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> -->
</head>




<div class="notif-container" id="notifs">
  <div class="nav-tabs" id="profile-tabs">
  </div>
  <br>
  <div class="notif-header">
    <h4>Notifications</h4>
  </div>
    <br>
    <div class="notification-list">
        <ul>
          {% for noti in notifications reversed %}
              {% if noti.notification.noti_type == 'At' %}
                <strong><a href="{% url 'account:profile_page' noti.notification.sender.username %}">{{ noti.notification.sender }}</a></strong> mentioned you in a post: <a href="{% url 'posts:post_generation_page' category='all' pid=noti.post_id %}">
                  {{ noti.post_id}} => {{ noti.question_text}} 
                  <br>
                  <a class = "history-options">
                  {% for option in noti.options %}
                      {{ option.choice_text }}{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                  </a>
                </a>
              {% elif noti.notification.noti_type == 'Comment' %}
                <strong><a href="{% url 'account:profile_page' noti.notification.sender.username %}">{{ noti.notification.sender }}</a></strong> commented on your post: <a href="{% url 'posts:post_generation_page' category='all' pid=noti.post_id %}">
                  {{ noti.post_id}} => {{ noti.question_text }}
                  <br>
                  <a class = "history-options">
                  {% for option in noti.options %}
                      {{ option.choice_text }}{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                  </a>
                </a>
              {% endif %}
              <span class="text-muted">{{ noti.notification.created_at }}</span>
            </li><br>
          {% endfor %}
        </ul>
    </div>
</div>
 
<!-- <script>
function fetchPendingRequests() {
  $.ajax({
      url: "{% url 'account:friend_requests' request.user.username %}",
      type: "GET",
      success: function(resp) {
          let pendingRequests = $(resp).find('.friend-request-item').length;
          updateNotificationBadge(pendingRequests);
      },
      error: function(resp) {
          console.log("fetchPendingRequests error");
      }
  });
</script>
} -->