{% include 'includes/messages.html' %}
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/style.css' %}" />
</head>

<div class="container" id="container">
		<form action="." method = "POST">
			{% csrf_token %}
			<img src="https://img.icons8.com/ios-filled/50/null/lock.png"/>
			<a></a>
			<h1>Trouble logging in?</h1>
			<br></br>
			Enter your username or email and we'll send you a link to reset your password!
			<input type="text" placeholder="Username or Email" name ="username_or_email" value="{% if form.username.value %}{{ form.username.value }}{% endif %}" required/>

            
			<button type = "submit">Send Link</button>
		</form>
</div>