{% include 'includes/header.html' %}

{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/style.css' %}" />
	<!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> -->
</head>



<div class="container" id="profile-container">
	<div class="nav-tabs" id="profile-tabs">
		<div class="tab-wrapper">
		<a class="nav-tab activate" id="nav-profile-tab" onclick="getProfileInfo();">Profile</a>
		</div>
		{% if edit_access %}
		<div class="tab-wrapper">
		<a class="nav-tab" id="nav-edit-tab"  onclick="getProfileEditInfo();">Edit Profile</a>
	 	</div>
		 {% endif %}
		<div class="tab-wrapper">
		<a  class="nav-tab " id="nav-history-tab"   onclick="getProfileHistory();">History</a>
		</div>
		<div class="tab-wrapper">
		<a  class="nav-tab" id="nav-postscreated-tab"   onclick="getPostsCreated();">PostsCreated</a>
		</div>
		<div class="tab-wrapper">
			<a  class="nav-tab" id="nav-friends-tab" onclick="getFriends();">Friends</a>
		</div>
	</div>

	{% if edit_access %}
	<div class="form-container profile-edit-container tabcontent" id="nav-edit" style="display: none;">
		<form action="{% url 'account:profile_page' profile.username %}" method = "POST">
			{% csrf_token %}
			<h1>Edit Profile</h1><a></a>
			<input type="password" placeholder="Current Password" name ="old_password" required/>
            <input type="password" placeholder="New Password" name ="password1" required/>
			<input type="password" placeholder="Confirm New Password" name ="password2" required/>
			<button type = "submit" value="pass_change" name="account_info">Confirm</button>
		</form>
	</div>
	
	{% endif %}

	<div class="form-container profile-container tabcontent" id="nav-profile">
		<div class="profile-pic-container">
		<form action="{% url 'account:profile_page' profile.username %}" method = "POST" enctype="multipart/form-data">
			{% csrf_token %}
			<br><br>
			<div class="image-container">
				<!-- <img class="image" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" alt="Image"> -->
				<img class="image" src="{{ profile.profile_picture.url }}" alt="Image">
			</div>
			<a></a>
			<!--add change picture option-->
			{% if edit_access %}
			{{ profile_picture_change_form.profile_picture }}
			<button type="submit" value="profile_pic" name="account_info">Change Picture</button>
			{% endif %}
		</form>
		</div>
		<div class="profile-container tabcontent profile-info-container"> 

			<h1>Profile Information</h1><a></a>
				{% if request.user.is_authenticated %}
				Username<input type="text" value="{{ profile.username }}" readonly>
				<a></a>
				Email<input type="text" value="{{ profile.email }}" readonly>
				{% endif %}
				<a></a>
				<!--change here-->


				
				<!--this js script must be placed at the end of the file AFTER buttons-->


		</div>
	</div>


	<div class="form-container tabcontent user-history-container" id="nav-history" style="display: none;">
        <h2>User History</h2>
		<div class="history-content">
			<ul>
				<!-- this div will contain the profile history of user, called from ajax -->
				<div id="profileHistory">

				</div>
				
			</ul>

		</div>
       
    </div>

	<!-- posts created tab -->
	<div class="form-container tabcontent user-history-container" id="nav-postscreated" style="display: none;">
        <h2>Polls Created</h2>
		<div class="history-content">
			<ul>
				<!-- this div will contain the posts created by user, called from ajax -->
				<div id="postsCreated">

				</div>
				
			</ul>

		</div>
       
    </div>

	<!-- Friends Tab -->
	<div class="form-container tabcontent user-history-container" id="nav-friends" style="display: none;">
        <h2>Friends</h2>
		<div class="history-content">
			<ul>
				<!-- this div will contain user friends, called from ajax -->
				<div id="userFriends">

				</div>
				
			</ul>

		</div>
       
    </div>


</div>

<script type="text/javascript" src="{% static '../static/js/profile.js' %}"></script>



<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

<script>

function getProfileInfo(){
	openTab(event, 'nav-profile');
	changeurlProfile("profile");
}


function getProfileEditInfo(){
	openTab(event, 'nav-edit');
	changeurlProfile("profile");
}


function getProfileHistory(){
		openTab(event, 'nav-history');
        $.ajax({
            url: "{% url 'account:profile_history_page' profile.username %}",
            type: "GET",
            success: function(resp){
				changeurlProfile("history");
                $("#profileHistory").html(resp);
				// implement change_profile_url
            },
            error: function(resp){
                console.log("getProfileHistory error");
            }
        });
    }




function getPostsCreated(){
	openTab(event, 'nav-postscreated');
        $.ajax({
            url: "{% url 'account:profile_postscreated_page' profile.username %}",
            type: "GET",
            success: function(resp){
				changeurlProfile("posts_created");
                $("#postsCreated").html(resp);
				// implement change_profile_url
            },
            error: function(resp){
                console.log("getPostsCreated error");
            }
        });
}


function getFriends(){
	openTab(event, 'nav-friends');
        $.ajax({
            url: "{% url 'account:profile_friends_page' profile.username %}",
            type: "GET",
            success: function(resp){
				changeurlProfile("friends");
                $("#userFriends").html(resp);
				console.log(resp);
            },
            error: function(resp){
                console.log("getFriends error");
            }
        });
}



function changeurlProfile(page)
  {
    $.ajax({
            url:"{% url 'account:get_current_profile_url_api' page=1 username=profile.username %}".replace(/1/, page.toString()),
            type:"GET",
            success: function(resp){
                var new_url=resp.current_url;
                window.history.pushState("data","Title",new_url);
                // console.log(new_url)
            },
            error: function(resp){
              console.log("changeurl error")
            }
        });
  }


document.getElementById("{{ tab_to_click }}").click();

</script>
