{% load static %}
<div>
    <form method = "POST" id="groupChatCreationForm">
        {% csrf_token %}

        <h4>Group Name</h4>
        {{ chat_group_creation_form.group_name }}

        <br>

        <h4>Group Members</h4>
        {{ chat_group_creation_form.members }}

        <br>

        <h4>Choose a Group Profile Picture</h4>
        <div class="image-container">
            <img class="image" src="{{ chat_group_creation_form.instance.profile_picture.url }}" alt="Image">
        </div>
        {{ chat_group_creation_form.profile_picture }}

        <button type="submit" value="submit-poll" name="submit-poll" class="submit">Save</button>
</div>


<script>
    $('#groupChatCreationForm').submit(function(){
        var $this = $(this);
        var valid = true;
    
        if(valid){
            //ajax
            $.ajax({
                url: "{% url 'connections:get_chat_group_creation' connection_id=connection_id %}",
                type: "POST",
                data: $(this).serialize(),
                dataType: 'json',
                success: function(resp){
                    if(resp.group_creation === 'success'){
                        getConnectionsList();
                        if (resp.form_reset){
                            document.getElementById("groupChatCreationForm").reset();
                        }
                        else{
                            openChatBox(resp.connection_id);
                        }
                    }
                    else{
                        // display error msgs
                        // alert(resp.errors);
                        showMessage(resp.errors);
                    }

                },
                error: function(resp){
                    console.log("chat group creation error");
                }
            });
        }
        return false;
    });

</script>