{% load static %}
<div class="chat-header clearfix">
    <div class="row">
        <div class="col-xs-6 col-sm-8 col-lg-10">
            <a href="javascript:void(0);" data-toggle="modal" data-ta
            rget="#view_info">
                <a href="../../account/profile/{{ friend_name }}/"><img src="{{ friend_pic }}" alt="avatar"></a>
            </a>
            <div class="chat-about">
                <h6 class="m-b-0">
                    <a href="../../account/profile/{{ friend_name }}/">{{ friend_name }}</a>
                </h6>
                <!-- get last login or something -->
                <small>Online</small>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2">
            <a onclick="openChatGroupCreation('{{ connection_id }}');">Edit</a>
        </div>
    </div>
</div>
<div class="chat-message clearfix">
    <div class="input-group mb-0">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-send"></i></span>
        </div>
        <div id="chat-messages">
            <input class="form-control" placeholder="Enter text here" id="input" type="text"></br>
        </div>
    </div>
</div>
<div class="chat-history">
    <ul class="m-b-0" id="history">
        <!-- chat messages go here -->
    </ul>
</div>


<script>
    function updateMsgSeen(message_id){
        $.ajax({
            url: "{% url 'connections:update_msg_seen' message_id='mesrep' %}".replace('mesrep', message_id.toString()),
            type: "GET",
        });
    }

</script>


<!-- add history -->
{% for message in messages %}
{% if message.user == request.user %}
<script>
    document.getElementById('history').insertAdjacentHTML('afterbegin', 
    '<ul class="m-b-0"><li class="clearfix"><div class="message-data-right"><span class="message-data-time">{{ message.timestamp }}</span></div><div class="message other-message float-right"> {{ message.message }} </div></li></ul>');
</script>

{% else %}

{% if is_group %}
<script>
    document.getElementById('history').insertAdjacentHTML('afterbegin', 
    '<ul class="m-b-0"><li class="clearfix"><div class="message-data"><span class="message-data-time">{{ message.timestamp }}</span></div><div class="message my-message"> <b>{{ message.user }}:</b> {{ message.message }} </div></li></ul>');
</script>
{% else %}
<script>
    document.getElementById('history').insertAdjacentHTML('afterbegin', 
    '<ul class="m-b-0"><li class="clearfix"><div class="message-data"><span class="message-data-time">{{ message.timestamp }}</span></div><div class="message my-message"> {{ message.message }} </div></li></ul>');
</script>
{% endif %}

{% if request.user not in message.seen_by.all %}
<script>
    updateMsgSeen("{{ message.id }}");
</script>
{% endif %}

{% endif %}
{% endfor %}


<!-- required python variable to get from inside js func -->
{% comment %} Get data for username and chatbox name{% endcomment %}
{{ request.user.username|json_script:"user_username" }}
{{ connection_id|json_script:"room-name" }}


<!-- add chat messages func -->
<script>
    function addMessagestoChatBox(data){
        if (data.closed){
            chatSocketClosed();
        }
        else {
            const user_username = JSON.parse(document.getElementById('user_username').textContent);
            if (user_username == data.username){
                document.getElementById('history').insertAdjacentHTML('afterbegin', '<li class="clearfix"><div class="message-data-right"><span class="message-data-time">' + data.timestamp + '</span></div><div class="message other-message float-right"> ' + data.message + ' </div></li>');
            }
            else{
                if (data.is_group){
                    document.getElementById('history').insertAdjacentHTML('afterbegin', '<li class="clearfix"><div class="message-data"><span class="message-data-time">' + data.timestamp + '</span></div><div class="message my-message"> ' + '<b>' + data.username + ':</b> ' + data.message + ' </div></li>');
                }
                else{
                    document.getElementById('history').insertAdjacentHTML('afterbegin', '<li class="clearfix"><div class="message-data"><span class="message-data-time">' + data.timestamp + '</span></div><div class="message my-message"> ' + data.message + ' </div></li>');
                }
            }
        }
    }

    function chatSocketClosed() {
        // location.reload();
        // alert("Socket closed unexpectedly, please reload the page.");
        message = "Connection lost, please reload the page!";
        showMessage(message);
        // location.reload();
    };


</script>

<!-- <script>
    var element = document.getElementById('test1');
    console.log(element.scrollTop);
    element.scrollTop = element.scrollHeight;
    console.log(element.scrollTop);
    // window.scrollTo(0, document.body.scrollHeight);
    // $('#history').scrollTop($('#history')[0].scrollHeight);
    // window.scrollTo(0, document.body.scrollHeight);
    // document.getElementById('test1').scrollTop = 9999999;
</script> -->

<!-- import chatSocket.js -->
<script type="text/javascript" src="{% static '../static/js/chatSocket.js' %}"></script>