{% include 'includes/header.html' %}
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/chat.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/style.css' %}" />
</head>

<div class="container">
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card chat-app">
            <div id="plist" class="people-list">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Search...">
                </div>
                <ul class="list-unstyled chat-list mt-2 mb-0">
                    <li class="clearfix">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar">
                        <div class="about">
                            <div class="name">Vincent Porter</div>
                            <div class="status"> <i class="fa fa-circle offline"></i> left 7 mins ago </div>                                            
                        </div>
                    </li>
                    <li class="clearfix active">
                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                        <div class="about">
                            <div class="name">Aiden Chavez</div>
                            <div class="status"> <i class="fa fa-circle online"></i> online </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="chat">
                <div class="chat-header clearfix">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                            </a>
                            <div class="chat-about">
                                <h6 class="m-b-0">Aiden Chavez</h6>
                                <small>Last seen: 2 hours ago</small>
                            </div>
                        </div>
                        <div class="col-lg-6 hidden-sm text-right">
                            <a href="javascript:void(0);" class="btn btn-outline-secondary"><i class="fa fa-camera"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-image"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-info"><i class="fa fa-cogs"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-warning"><i class="fa fa-question"></i></a>
                        </div>
                    </div>
                </div>
                <div class="chat-history">
                    <ul class="m-b-0">
                        {% for message in messages %}
                        <li class="clearfix">
                            <div class="message-data {% if message.user == current_user %}align-right{% endif %}">
                                <span class="message-data-time">{{ message.timestamp }}</span>
                            </div>
                            <div class="message {% if message.user == current_user %}my-message{% else %}other-message float-right{% endif %}">{{ message.message }} </div>
                        </li>
                        <li class="clearfix">
                            <div class="message-data">
                                <span class="message-data-time">10:12 AM, Today</span>
                            </div>
                            <div class="message my-message">Are we meeting today?</div>                                    
                        </li>
                        {% endfor %}                               
                    </ul>
                </div>
                <div class="chat-message clearfix">
                    <div class="input-group mb-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-send"></i></span>
                        </div>
                        <input type="text" class="form-control" id="input" placeholder="Enter text here...">                                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% comment %} Get data for username and chatbox name{% endcomment %}
    {{ request.user.username|json_script:"user_username" }}
    {{ connection_id|json_script:"room-name" }}
</div>
</div>

<!-- JS stuff -->

<!-- display message history, todo: need to make it always auto-scroll to the bottom -->
{% for message in messages %}
    <script>
        document.querySelector('#chat-text').value += ("{{ message.message|safe }}" + 
                                                        " sent by " + 
                                                        "{{ message.user.username|safe }}" + 
                                                        "\n")
    </script>
{% endfor %}

<!-- import chatSocket.js -->
<script type="text/javascript" src="{% static '../static/js/chatSocket.js' %}"></script>